@use '../../../upstream-components/base/src/scss/mixins' as oe;

.form-type-managed-file {
  .form-file-wrapper {

    &:has(> *:focus-visible) {
      outline: oe.rem(.2) solid var(--sky-blue);
      outline-offset: oe.rem(.2);

      > *:focus-visible {
        outline: none;
      }
    }

    &:has(.error:not(:disabled)) {
      background: var(--error-red);
    }
  }
}
