@use '../../../upstream-components/base/src/scss/mixins' as oe;

:root {
  --gin-spacing-xxs: calc(#{oe.rem(0.25)} * 1.6);
  --gin-spacing-xs: calc(#{oe.rem(0.5)} * 1.6);
  --gin-spacing-s: calc(#{oe.rem(0.75)}* 1.6);
  --gin-spacing-m: calc(#{oe.rem(1)} * 1.6);
  --gin-spacing-l: calc(#{oe.rem(1.5)} * 1.6);
  --gin-spacing-xl: calc(#{oe.rem(2)} * 1.6);
  --gin-spacing-xxl: calc(#{oe.rem(3)} * 1.6);
  --gin-spacing-xxxl: calc(#{oe.rem(4)} * 1.6);

  --gin-border-xxs: calc(#{oe.rem(0.125)} * 1.6);
  --gin-border-xs: calc(#{oe.rem(0.25)} * 1.6);
  --gin-border-s: calc(#{oe.rem(0.375)} * 1.6);
  --gin-border-m: calc(#{oe.rem(0.5)} * 1.6);
  --gin-border-l: calc(#{oe.rem(0.75)} * 1.6);
  --gin-border-xl: calc(#{oe.rem(1)} * 1.6);
  --gin-font-size: calc(#{oe.rem(1)} * 1.6);
}

.toolbar-bar {
  z-index: calc(var(--z-index--modal) + 1000) !important;
}

.contextual-toolbar-tab,
.toolbar-tab:has(.acquia-inactive-subscription, .acquia-active-subscription) {
  display: none !important;
}
