@import '../../../upstream-components/base/src/scss/imports/variables';

.webform-details-toggle-state-wrapper {
  text-align: right;
}

.webform-details-toggle-state {
  background: none;
  border: none;
  color: var(--link-color);
  cursor: pointer;
  font-family: var(--form-label-font-family);
  font-weight: var(--form-label-font-weight);
  font-size: var(--form-label-font-size);
  line-height: var(--form-label-line-height);
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: inherit;
  text-decoration-thickness: _rem(0.1);
  outline: solid _rem(.2) transparent;
  outline-offset: _rem(0.2);
  transition: outline-color var(--transition-duration--default) linear;
  text-underline-offset: .2em;

  &:hover, &:focus-visible {
    text-decoration-style: solid;
    text-decoration-thickness: _rem(.1);
  }

  &:focus-visible {
    outline-color: var(--sky-blue);
    outline-offset: _rem(0.2);
  }
}
