@use '../../../upstream-components/base/src/scss/mixins' as oe;

.form-type-select {
  > .form-item__element-wrapper > .form-item__element > .form-select-wrapper {
    flex: 1;
    // If :has is not supported; fall back to design system provided focus rings.
    &:has(> *:focus-visible) {
      outline: oe.rem(.2) solid var(--sky-blue);
      outline-offset: oe.rem(.2);

      > *:focus-visible {
        outline: none;
      }
    }

    &:has(select.error) {
      background-color: var(--error-red);
      border-top-left-radius: var(--form-element-border-radius--rounded);
      border-top-right-radius: var(--form-element-border-radius--rounded);
    }
  }
}
