@import '../../../upstream-components/base/src/scss/imports/variables';

.form-required .form-required-asterisk::after {
  content: '*';
  margin-left: _rem(.5);
  color: var(--form-required-indicator-color);
  font-family: var(--form-label-font-family);
  line-height: var(--line-height--nospace);
  font-size: var(--font-size--mlarge);
  font-style: normal;
}
