@import '../../../upstream-components/base/src/scss/imports/variables';

.form-type-webform-rating {
  & > .form-item__element-wrapper > .form-item__element {
    // The RateIt library now handles keyboard interactions.
    & > input {
      visibility: hidden;

      ~ .form-item--error-message {
        margin-top: _rem(.5);
      }
    }

    & > .rateit {
      cursor: pointer;
      line-height: 0;
      width: fit-content;

      .rateit {
        &-reset {
          -webkit-mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 31"><path d="m24 31-8-4-8 4a2 2 0 0 1-1 0 2 2 0 0 1-1 0 2 2 0 0 1-1-2l2-9-6-6a2 2 0 0 1 1-4h3l21 16 1 3a2 2 0 0 1-1 2 2 2 0 0 1-1 0 2 2 0 0 1-1 0Zm7-4L1 4a1 1 0 1 1 2-2l8 6 3-7a2 2 0 0 1 4 0l4 8 8 1a2 2 0 0 1 2 2 2 2 0 0 1-1 2l-6 6 8 5a1 1 0 0 1 0 2 1 1 0 0 1-1 0 1 1 0 0 1-1 0Z" color="currentColor"/></svg>') no-repeat;
          width: _rem(3.2);
          height: _rem(3.2);
          background: var(--beaver-blue);
          transition: background-color var(--transition-duration--default) linear;

          &:hover, &:focus-visible {
            background: var(--pa-link);
          }
        }

        &-range {
          -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M317 18a32 32 0 0 0-58 0l-64 132-144 22a32 32 0 0 0-17 54l104 103-25 146a32 32 0 0 0 47 33l128-68 129 68a32 32 0 0 0 46-33l-24-146 104-103a32 32 0 0 0-18-54l-144-22-64-132z"/></svg>');
          -webkit-mask-size: _rem(3.2) _rem(3.2);
          background: var(--form-element-background-color);
          //box-shadow: inset color-mix(in srgb, transparent, var(--slate) 50%) 0 _rem(.2) _rem(.2);
        }

        &-selected {
          background: var(--beaver-blue);
        }

        &-hover {
          background: var(--pa-link);
        }
      }

      &:has(.rateit-reset:focus-visible)::after {
        content: '';
        position: absolute;
        inset: 0 calc(100% - _rem(3.2)) 0 0;
        outline: _rem(.2) solid var(--sky-blue);
      }

      &:has(.rateit-range:focus-visible)::after {
        content: '';
        position: absolute;
        inset: 0 0 0 _rem(3.2);
        outline: _rem(.2) solid var(--sky-blue);
      }

      &:is([data-light] *) {
        .rateit {
          &-reset {
            background: var(--beaver-blue);

            &:hover, &:focus-visible {
              background: var(--pa-link);
            }
          }

          &-range {
            background: var(--form-element-background-color);
          }

          &-selected {
            background: var(--beaver-blue);
          }

          &-hover {
            background: var(--pa-link);
          }
        }
      }

      &:is([data-dark] *) {
        .rateit {
          &-reset {
            background-color: var(--keystone-light);

            &:hover, &:focus-visible {
              background-color: var(--keystone);
            }
          }

          &-range {
            background-color: color-mix(in srgb, transparent, var(--pugh-blue) 70%);
          }

          &-selected {
            background-color: var(--keystone-light);
          }

          &-hover {
            background-color: var(--keystone);
          }
        }
      }
    }
  }
}
