@use '../../../upstream-components/base/src/scss/mixins' as oe;

.form-type-webform-same {
  display: flex;
  gap: oe.rem(1);

  > .form-item__element-wrapper > .form-item__element {
    flex-shrink: 0;

    & ~ * {
      align-self: baseline;
    }
  }

  label {
    // Close up the would-be gap between the input and label.
    margin: oe.rem(.3) 0 0 oe.rem(-1);
    padding-left: oe.rem(1);
    font-weight: var(--form-element-font-weight);
  }
}
