@use '../../../upstream-components/base/src/scss/mixins' as oe;

.form-type-datelist {
  & > .form-item__element-wrapper > .form-item__element > .container-inline {
    display: flex;
    flex-wrap: wrap;
    gap: oe.rem(1.5);

    & > .form-item {
      margin: 0;
    }

    & + .form-item--error-message {
      margin-top: oe.rem(1.5);
    }
  }
}
