@use '../../../upstream-components/base/src/scss/mixins' as oe;

.webform-type-checkboxes {

  > legend {
    margin-bottom: oe.rem(.8);
  }

  > .fieldset-wrapper {
    > .form-type-checkboxes + .form-item__description {
      margin-top: oe.rem(.5);
    }

    > .form-item--error-message {
      margin-top: oe.rem(1.5);
    }
  }
}
