@import "../../../upstream-components/base/src/scss/imports/variables";
@import "../../../upstream-components/base/src/scss/imports/layout";
.messages {

  margin-bottom: var(--text-element-vertical-space--medium);
  background: var(--white);

  &__intro {
    font-weight: var(--font-weight--semibold);
    line-height: var(--line-height--snug);
  }

  &__list {
    list-style-type: none;
    padding: 0;
    margin: _rem(1.6) 0;
  }

  &__item {
    color: var(--nittany-navy);
    margin-bottom: _rem(0.7);
    font-weight: var(--font-weight--semibold);
    display: flex;
    gap: _rem(0.5);
    line-height: var(--line-height--xsnug);
    .sprite {
      color: var(--medium-dark-grey);
      flex-shrink: 0;
      font-size: _rem(1.5);
    }
    &:last-of-type {
      margin-bottom: 0;
    }
    span {
      margin-top: _rem(-0.3);
    }
    a {
      text-decoration: none;
      transition: color .5s;
      display: flex;
      gap: _rem(0.5);

    }
    span>span {
      margin-left: _rem(0.5);
    }

    a {
      .sprite {
        color: var(--pa-link);
        flex-shrink: 0;
        font-size: _rem(1.5);
      }
      &:hover,
      &:focus {
        span {
          text-decoration: underline;
        }
      }
    }
  }

}
