@use '../../../upstream-components/base/src/scss/mixins' as oe;

.webform-type-webform-select-other {

  > legend {
    margin-bottom: oe.rem(.5);
  }

  > .fieldset-wrapper {
    > .form-type-select {
      margin-bottom: 0;
    }

    > .webform-select-other-input {
      margin-top: oe.rem(1.5);
      margin-bottom: 0;

      // Prevent JS from making things overflow.
      width: var(--form-element-width) !important;

      & + .form-item__description {
        margin-top: oe.rem(.5);
      }
    }
  }
}
