@use '../../../upstream-components/base/src/scss/mixins' as oe;

.webform-type-webform-entity-radios {

  > legend {
    margin-bottom: oe.rem(.8);
  }
  > .fieldset-wrapper {
    > .form-type-radios + .form-item__description {
      margin-top: oe.rem(.5);
    }

    > .form-item--error-message {
      margin-top: oe.rem(1.5);
    }
  }
}
