@use '../../../upstream-components/base/src/scss/mixins' as oe;

.fieldgroup {

  > legend > .fieldset-legend {
    display: flex;
    gap: oe.rem(.5);
  }

  > .fieldset-wrapper {
    > .field-prefix, > .field-suffix {
      color: var(--form-label-text-color);
      display: inline-block;
    }

    > .field-prefix {
      margin-bottom: oe.rem(.5);
    }

    > .field-suffix {
      margin-top: oe.rem(.5);
    }
  }
}
