@use '../../../upstream-components/base/src/scss/mixins' as oe;

.webform-confirmation {
  margin: auto;
  max-width: oe.rem(119);
  padding: 0 oe.rem(2);

  @include oe.bp(xs) {
    padding: 0 oe.rem(4);
  }
}
