@import '../../../upstream-components/base/src/scss/imports/variables';

.webform-section-title {
  color: var(--form-label-text-color);

  // Make sure the required asterisk is the right size!
  &.form-required .form-required-asterisk::after {
    font-size: inherit;
    margin-left: _rem(.5);
  }
}
