@use '../../../upstream-components/base/src/scss/mixins' as oe;

.webform-section-title {
  color: var(--form-label-text-color);

  // Make sure the required asterisk is the right size!
  &.form-required .form-required-asterisk::after {
    font-size: inherit;
    margin-left: oe.rem(.5);
  }
}
